---

name: Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

permissions: write-all

env:
  BINARYEN_VERSION: version_124
  GH_CLI_VERSION: 2.79.0
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout self repo
        uses: actions/checkout@v5
        with:
          ref: ${{ github.ref_name }}
          path: teleport-build-repo

      - name: Checkout teleport repo and tag
        uses: actions/checkout@v5
        with:
          repository: gravitational/teleport
          ref: ${{ github.ref_name }}
          path: teleport-repo

      - uses: actions/setup-go@v6
        with:
          go-version-file: teleport-repo/go.mod
          cache-dependency-path: "teleport-repo/**/*.sum"

      - uses: pnpm/action-setup@v2
        with:
          version: 10.17.0

      - uses: actions/setup-node@v5
        with:
          node-version-file: 'teleport-repo/package.json'

      - name: Get versions
        id: versions
        working-directory: teleport-repo
        run: |
          RUST_TOOLCHAIN_VERSION=$(make -C build.assets print-rust-version --no-print-directory)
          echo "RUST_TOOLCHAIN_VERSION=$RUST_TOOLCHAIN_VERSION" >> "$GITHUB_OUTPUT"

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ steps.versions.outputs.RUST_TOOLCHAIN_VERSION }}
          rust-src-dir: teleport-repo

      - name: Install GH CLI
        if: ${{ env.ACT }}
        uses: dev-hanz-ops/install-gh-cli-action@v0.2.1
        with:
          gh-cli-version: ${{ env.GH_CLI_VERSION }}

      - name: Build
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release -R WebAssembly/binaryen download "${{ env.BINARYEN_VERSION }}" \
            --pattern 'binaryen-*-x86_64-linux.tar.gz' -O- | \
            sudo tar xzf - -C /usr --strip-components=1

          (
            cd teleport-repo
            make full
          )

          tar -czf "teleport-${{ github.ref_name }}.tar.gz" -C teleport-repo/build .
          tar --zstd -cf "teleport-${{ github.ref_name }}.tar.xz" -C teleport-repo/build .

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker build
        uses: docker/build-push-action@v6
        with:
          context: ./teleport-repo
          file: ./teleport-build-repo/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ github.ref_name }}
            ghcr.io/${{ github.repository }}:latest

      - name: Upload build
        uses: actions/upload-artifact@v4
        if: false # Disabled, as we already push it to the release. Left as reference
        with:
          name: build-binaries
          path: |
            teleport-${{ github.ref_name }}.tar.gz
            teleport-${{ github.ref_name }}.tar.xz
          if-no-files-found: error

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            teleport-${{ github.ref_name }}.tar.gz
            teleport-${{ github.ref_name }}.tar.xz
          fail_on_unmatched_files: true
