---

name: Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

permissions: write-all

env:
  BINARYEN_VERSION: version_124
  GH_CLI_VERSION: 2.79.0
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Free disk space
        run: |
          echo "Disk space before cleanup:"
          df -h
      
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
      
          echo "Disk space after cleanup:"
          df -h

      - name: Checkout self repo
        uses: actions/checkout@v5
        with:
          ref: ${{ github.ref_name }}
          path: teleport-build-repo

      - name: Checkout teleport repo and tag
        uses: actions/checkout@v5
        with:
          repository: gravitational/teleport
          ref: ${{ github.ref_name }}
          path: teleport-repo

      - name: Get versions
        id: versions
        working-directory: teleport-repo
        run: |
          SHORT_VERSION=$(echo "${GITHUB_REF_NAME}" | cut -d. -f1)

          echo "SHORT_VERSION=${SHORT_VERSION}" >> "${GITHUB_OUTPUT}"
          echo "VERSION_no_v=${GITHUB_REF_NAME#v}" >> "${GITHUB_OUTPUT}"

      - name: Workaround for the https://github.com/gravitational/teleport/issues/48936 bug
        run: |
          # Remove the arch test (avoid install go)
          sed -i 's|^ARCH.*|ARCH := amd64|' teleport-repo/build.assets/arch.mk

          # Sets the correct devtoolset as default (Dockerfile-centos7 only)
          sed -i '/^FROM base AS buildbox$/a\ENTRYPOINT ["bash", "-c", "scl enable \\\"$DEVTOOLSET\\\" -- \\\"$@\\\"", "--"]' teleport-repo/build.assets/Dockerfile-centos7

      - name: Build
        working-directory: teleport-repo
        run: |
          export GOCACHE=~/gocache
          mkdir -m 777 ${GOCACHE}

          make -C build.assets build

          tar -czf "../teleport-${{ github.ref_name }}-linux-amd64-bin.tar.gz" -C build --exclude=artifacts .
          tar --zstd -cf "../teleport-${{ github.ref_name }}-linux-amd64-bin.tar.zstd" -C build --exclude=artifacts .

      - name: Build deb package
        working-directory: teleport-repo
        run: |
          ln -s $(pwd)/build/artifacts /tmp/teleport-tarballs
          ./build.assets/build-package.sh -t oss -v ${GITHUB_REF_NAME#v} -p deb -a amd64 -s .

          # Used for Docker build (next steps)
          cp teleport_*_amd64.deb ./build.assets/charts/
          mv teleport_*_amd64.deb ..

          # Add dependencies for the client (tsh tctl)
          cd build.assets/charts/
          sed  '/^RUN \.\/fetch-debs / s/$/ libfido2-1 libcbor0.8 libudev1 zlib1g/' Dockerfile-distroless > Dockerfile-distroless-client

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker build server
        uses: docker/build-push-action@v6
        with:
          context: ./teleport-repo/build.assets/charts/
          file: ./teleport-repo/build.assets/charts/Dockerfile-distroless
          push: true
          build-args: |
            TELEPORT_VERSION=${{ steps.versions.outputs.VERSION_no_v }}
          tags: |
            ghcr.io/${{ github.repository }}:${{ github.ref_name }}
            ghcr.io/${{ github.repository }}:${{ steps.versions.outputs.SHORT_VERSION }}

      - name: Docker build client
        uses: docker/build-push-action@v6
        with:
          context: ./teleport-repo/build.assets/charts/
          file: ./teleport-repo/build.assets/charts/Dockerfile-distroless-client
          push: true
          build-args: |
            TELEPORT_VERSION=${{ steps.versions.outputs.VERSION_no_v }}
          tags: |
            ghcr.io/${{ github.repository }}:${{ github.ref_name }}-client
            ghcr.io/${{ github.repository }}:${{ steps.versions.outputs.SHORT_VERSION }}-client

      - name: Upload build
        uses: actions/upload-artifact@v4
        if: false # Disabled, as we already push it to the release. Left as reference
        with:
          name: build-binaries
          path: |
            teleport-${{ github.ref_name }}-linux-amd64-bin.tar.gz
            teleport-${{ github.ref_name }}-linux-amd64-bin.tar.zstd
          if-no-files-found: error

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            teleport-${{ github.ref_name }}-linux-amd64-bin.tar.gz
            teleport-${{ github.ref_name }}-linux-amd64-bin.tar.zstd
            teleport_${{ steps.versions.outputs.VERSION_no_v }}_amd64.deb
          fail_on_unmatched_files: true
